body
{
    margin: 0;
    padding: 0;
}

.piano_block
{
    position: relative;
    top: 130px;
    left: 50px;
}

.big_octave
{
    float: left;
}

.small_octave
{
    position: relative;
    right: 261px;
}

.first_octave
{
    margin: 0 auto;
    position: relative;
    left: 588px;
    bottom: 118px;
    /*right: 261px; */
}

.second_octave
{
    z-index: 1;
    position: relative;
    left: 882px;
    bottom: 236px;

}


.white_key
{
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 3px;
    width: 40px;
    height: 110px;
    display: inline-block;
    position: relative;
    margin-right: -6px;
}

.black_key
{
    background-color: black;
    border-radius: 2px;
    width: 20px;
    height: 70px;
    display: inline-block;
    position: relative;
    z-index: 1;
    bottom: 42px;
    right: 261px;
    margin-right: 29px;
}

.do
{
}

.do_diez
{

}

.re
{
    right: 14px;
}

.re_diez
{
    right: 272px;
}

.mi
{
    right: 28px;
}

.fa
{
    right: 18px;
}

.fa_diez
{
    right: 240px;
}

.sol
{
    right: 32px;
}

.sol_diez
{
    right: 251px;
}

.lya
{
    right: 46px;
}

.lya_diez
{
    right: 45px;
}

.si
{
    right: 60px;
}