@charset "UTF-8";
/* ----- многократно применяемые ------*/
.main_title_style, .who_we_are .beautiful_title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 44px;
  color: #506a85;
  text-align: center; }

.main_subtitle, .who_we_are .beautiful_text {
  text-align: center;
  line-height: 1.8;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  padding-top: 40px;
  color: #73879c;
  font-weight: normal; }

.button_style, .item3 .button, .item4 .button, .item5 .button, .hero .button, .get_touch .button_touch, .footer .footer_free .form_button, .button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: #ffffff;
  background: #00bc9c;
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid #00a085; }

.footer_title, .footer .footer_who_we .footer_who_we_title, .footer .footer_latest .footer_latest_title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 25px; }

.footer_text, .footer .footer_who_we .footer_who_we_text, .footer .footer_touch .location_text, .footer .footer_touch .footer_touch_text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #a3b1bf;
  line-height: 1.5; }

html {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 320px; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.clear {
  clear: both; }

a {
  text-decoration: none; }

.wrapper {
  width: 50%;
  float: left; }
  @media (max-width: 850px) {
    .wrapper {
      float: none;
      display: block;
      text-align: center;
      width: 100%; } }

.wrapper_carousel {
  width: 25%;
  float: left; }
  @media (max-width: 920px) {
    .wrapper_carousel {
      width: 50%;
      text-align: center; } }
  @media (max-width: 610px) {
    .wrapper_carousel {
      width: 100%; } }

.wrapper_footer {
  width: 25%;
  float: left; }
  @media (max-width: 1210px) {
    .wrapper_footer {
      width: 50%; } }

.navbar {
  background-color: #f5f7fb;
  border-bottom: 1px solid #e6e9ed;
  padding: 12px 0 12px 0; }

.contact, .mail_icon, .phone_icon {
  display: inline-block;
  font-size: 12px;
  padding-left: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #506a85; }

.mail_icon {
  background: url("../image/icon_mail.png") no-repeat;
  background-position: left center;
  margin-left: 15px; }

.phone_icon {
  background: url("../image/icon_mobile.png") no-repeat;
  background-position: left center;
  margin-left: 30px; }

.clear {
  clear: both; }

.social {
  float: right; }

.icon_social {
  display: inline-block;
  width: 30px;
  height: 20px; }

.facebook_back {
  background: url("../image/icon_s_facebook.png") no-repeat center; }

.gplus_back {
  background: url("../image/icon_s_gplus.png") no-repeat center; }

.twitter_back {
  background: url("../image/icon_s_twitter.png") no-repeat center; }

.printer_back {
  background: url("../image/icon_s_pinterest.png") no-repeat center; }

.be_back {
  background: url("../image/icon_s_behance.png") no-repeat center; }

.dribble_back {
  background: url("../image/icon_s_dribbble.png") no-repeat center; }

.menu_name {
  color: #506a85; }

.nav_li {
  display: inline-block;
  list-style-type: none;
  padding: 0 10px 0 10px; }

.footer_element_li {
  display: inline-block;
  list-style-type: none;
  padding: 0 20px 0 20px; }

.menu {
  line-height: 60px;
  color: #506a85;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #e6e9ed; }

.main_logo {
  margin-left: 15px;
  margin-top: 25px;
  float: left;
  width: 16%; }
  @media (max-width: 1000px) {
    .main_logo {
      display: block;
      width: 100%;
      text-align: center;
      float: none;
      margin-left: 0; } }

.standart_icon {
  background: url("../image/icon_search.png") no-repeat center;
  height: 60px;
  width: 10%;
  margin-top: 12px;
  float: left; }
  @media (max-width: 1000px) {
    .standart_icon {
      display: none; } }

.nav {
  float: left;
  display: inline-block;
  width: 69%; }
  @media (max-width: 1000px) {
    .nav {
      display: block;
      margin: 0 auto;
      font-size: 13px;
      text-align: center;
      float: none;
      width: 100%;
      padding: 0; } }
  @media (max-width: 1180px) and (min-width: 1000px) {
    .nav {
      width: 60%; } }

/*------slider----*/
.slide {
  list-style: none;
  width: calc(100% / 5);
  display: inline;
  float: left; }

#slideWrapper {
  padding: 0;
  position: relative;
  width: calc(100% * 5);
  transition: 1s;
  transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1); }

#viewport {
  width: 100%;
  position: relative;
  overflow: hidden;
  user-select: none;
  text-align: center; }

#prevButtons, #nextButtons {
  position: absolute;
  top: 425px; }

#prevButtons:hover, #nextButtons:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s; }

#prevButtons {
  left: 15px;
  opacity: 0.5; }

#nextButtons {
  right: 15px;
  opacity: 0.5; }

#navButtons {
  opacity: 0;
  overflow: hidden;
  transition: 0.5s;
  background-image: url("../image/slider/background_point.png");
  width: 145px;
  height: 45px;
  position: absolute;
  margin-left: 44%;
  margin-top: 830px;
  padding: 0;
  border-radius: 12px; }

#point_color1 {
  background-color: #00bc9c; }

#navButtons:hover {
  opacity: 1;
  transition: 0.5s; }

.slide_nav_button {
  position: relative;
  display: inline-block;
  list-style: none;
  margin-right: 3px;
  margin-top: 13px;
  margin-left: 3px;
  width: 15px;
  height: 15px;
  background-color: #506a85;
  border-radius: 50%; }

.slide_nav_button:hover {
  background-color: #00bc9c;
  cursor: pointer; }

/*------main------*/
.main {
  width: 100%; }

.item2 {
  background-image: url("../image/slider_2.jpg");
  width: 100%;
  height: 880px; }
  .item2 .button_right {
    float: right;
    position: relative;
    top: 277px; }
  .item2 .text_title_none {
    margin: 0;
    position: relative;
    top: 255px;
    text-align: right; }
  .item2 .text_title {
    width: 100%;
    color: #ffffff;
    font-family: "Lato Black", sans-serif;
    font-size: 78px;
    font-weight: 700; }
    @media (max-width: 920px) {
      .item2 .text_title {
        font-size: 60px; } }
  .item2 .text_one {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: #a3b1bf;
    font-size: 24px;
    line-height: 33px;
    text-align: right;
    position: relative;
    top: 250px; }

.item3 {
  background-image: url("../image/slider/slider_3.jpg");
  width: 100%;
  height: 880px; }
  .item3 .text_title {
    color: #ffffff;
    font-family: "Lato Black", sans-serif;
    font-size: 78px;
    font-weight: 700;
    background-color: #506a85;
    margin: 0;
    width: 528px;
    text-align: center;
    position: relative;
    top: 230px; }
    @media (max-width: 920px) {
      .item3 .text_title {
        font-size: 60px; } }
  .item3 .margin_title {
    margin-top: 10px;
    width: 726px; }
  .item3 .text_one {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: #506a85;
    font-size: 24px;
    line-height: 33px;
    text-align: left;
    position: relative;
    top: 250px;
    width: 666px; }
  .item3 .button {
    font-size: 18px;
    padding: 20px 55px 20px 55px;
    margin-top: 40px;
    width: 295px;
    height: 62px;
    float: left;
    position: relative;
    top: 258px; }

.item4 {
  background-image: url("../image/slider/slider_4.jpg");
  width: 100%;
  height: 880px; }
  .item4 .text_title {
    color: #ffffff;
    font-family: "Lato Black", sans-serif;
    font-size: 78px;
    font-weight: 700;
    background-color: #506a85;
    margin: 0;
    text-align: center;
    position: relative;
    top: 135px;
    width: 680px;
    margin-left: 33%; }
    @media (max-width: 920px) {
      .item4 .text_title {
        font-size: 60px; } }
  .item4 .text_right {
    margin-top: 10px;
    width: 775px; }
  .item4 .button {
    font-size: 18px;
    padding: 20px 55px 20px 55px;
    margin-top: 40px;
    width: 295px;
    height: 62px;
    position: relative;
    top: 305px;
    left: 455px; }
  .item4 .text_one {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: #ffffff;
    font-size: 24px;
    line-height: 33px;
    float: right;
    position: relative;
    top: 180px;
    width: 580px; }

.item5 {
  background: url("../image/slider/slider_5.jpg") no-repeat center;
  width: 100%;
  height: 880px;
  text-align: center; }
  .item5 .text_title {
    color: #ffffff;
    font-family: "Lato Black", sans-serif;
    font-size: 78px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    position: relative;
    top: 135px; }
    @media (max-width: 920px) {
      .item5 .text_title {
        font-size: 60px; } }
  .item5 .button {
    font-size: 18px;
    padding: 20px 55px 20px 55px;
    margin-top: 40px;
    width: 295px;
    height: 62px;
    position: relative;
    top: 142px; }
  .item5 .text_one {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: #ffffff;
    font-size: 24px;
    line-height: 33px;
    position: relative;
    top: 145px; }

.hero {
  background-image: url("../image/item.jpg");
  width: 100%;
  height: 880px;
  text-align: center; }
  @media (max-width: 1030px) {
    .hero {
      padding: 130px 0 130px 0; } }
  .hero .text_title {
    width: 100%;
    color: #ffffff;
    font-family: "Lato Black", sans-serif;
    font-size: 78px;
    font-weight: 700;
    position: relative;
    top: 370px; }
    @media (max-width: 920px) {
      .hero .text_title {
        font-size: 60px; } }
  .hero .chief_text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    color: #a3b1bf;
    position: relative;
    margin-top: 407px;
    font-weight: normal;
    line-height: 1.5; }
    @media (max-width: 920px) {
      .hero .chief_text {
        font-size: 18px; } }
  .hero .button {
    font-size: 18px;
    padding: 20px 55px 20px 55px;
    margin-top: 40px;
    width: 295px;
    height: 62px; }

.who_we_are {
  padding: 120px 0 120px 0; }
  .who_we_are #blocks_open {
    display: none;
    transition: 1s;
    opacity: 0; }
  .who_we_are #back {
    display: none; }
  .who_we_are .for_inline {
    text-align: center; }
  .who_we_are .who_total_tree_blocks {
    padding: 10px 15px 10px 15px;
    margin-top: 75px;
    display: inline-block; }
    .who_we_are .who_total_tree_blocks .total_tree_blocks_title {
      margin-left: 70px;
      color: #506a85;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-size: 18pt;
      display: block;
      text-align: left; }
    .who_we_are .who_total_tree_blocks .total_tree_blocks_text {
      line-height: 1.5;
      margin-left: 70px;
      font-size: 12pt;
      font-family: "Source Sans Pro", sans-serif;
      color: #73879c;
      margin-top: 10px;
      display: block;
      text-align: left;
      font-weight: normal; }

.heart {
  background: url("../image/icon-heart-empty-1.png") no-repeat top 15px left; }

.star {
  background: url("../image/icon-star-empty-1.png") no-repeat top 15px left; }

.lamp {
  background: url("../image/icon-lamp.png") no-repeat top 15px left; }

.technology {
  background: url("../image/icon_brackets.png") no-repeat top 15px left; }

.like {
  background: url("../image/icon_like.png") no-repeat top 15px left; }

.voice {
  background: url("../image/icon_hear.png") no-repeat top 15px left; }

.latest_works {
  padding: 120px 0 120px 0;
  background: #f2f5f7; }
  .latest_works .image {
    max-width: 100%;
    height: auto; }
  .latest_works .figure {
    background: #ffffff;
    margin: 77px 13px 0 13px;
    border-bottom: 2px solid #e6e9ed;
    display: inline-block;
    padding-bottom: 32px; }
    .latest_works .figure .figure_title {
      color: #506a85;
      font-size: 20px;
      font-family: "Lato", sans-serif;
      text-align: center;
      margin-top: 35px; }
    .latest_works .figure .figure_subtitle {
      font-size: 14px;
      color: #73879c;
      text-align: center;
      margin-top: 15px;
      font-weight: normal; }
  .latest_works .carousel_image {
    margin: 79px 13px 40px 13px;
    display: inline-block; }
  .latest_works .pagination {
    text-align: center; }

.get_touch {
  padding: 127px 0 127px 0;
  text-align: center; }
  .get_touch .button_touch {
    margin-top: 45px;
    padding: 18px 22px 18px 22px;
    width: 150px; }

.footer {
  background: #2f4052;
  padding: 72px 0 77px 0; }
  .footer .footer_who_we {
    margin: 0 15px 0 15px;
    float: left; }
    .footer .footer_who_we .footer_who_we_title {
      margin-bottom: 25px; }
    .footer .footer_who_we .footer_who_we_text {
      margin: 25px 0 25px 0;
      font-weight: normal; }
    .footer .footer_who_we .more_about {
      font-size: 15px;
      font-family: "Source Sans Pro", sans-serif;
      color: #a3b1bf; }
      .footer .footer_who_we .more_about .more_text {
        width: 104px;
        float: left;
        font-weight: 700; }
  .footer .footer_latest {
    width: 257px;
    float: left;
    margin: 0 30px 0 15px; }
  .footer .footer_touch {
    width: 270px;
    float: left;
    margin: 0 15px 0 15px; }
    .footer .footer_touch .location_text {
      margin-left: 18px; }
    .footer .footer_touch .footer_icon {
      float: left;
      margin-top: 6px; }
    .footer .footer_touch .footer_touch_text {
      margin-bottom: 25px; }
  .footer .footer_free {
    width: 270px;
    float: left;
    margin: 0 14px 0 14px; }
    .footer .footer_free .form {
      background: #4e5c6c;
      margin-top: 20px;
      border-radius: 5px;
      padding: 5px 0 5px 11px; }
    .footer .footer_free .form_button {
      font-size: 13px;
      border-bottom: 2px solid #00a085;
      padding: 8px 7px 8px 8px;
      width: 88px;
      margin-left: 15px; }
    .footer .footer_free .form_text {
      background: #4e5c6c;
      border: none;
      font-family: "Source Sans Pro", sans-serif;
      color: #828e99;
      font-size: 14px;
      width: 146px; }

.footer_ending {
  background: #283645;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #707e8c; }
  .footer_ending .license {
    width: 300px;
    margin-left: 15px;
    float: left;
    margin-top: 15px; }
    @media (max-width: 780px) {
      .footer_ending .license {
        display: none; } }
  .footer_ending .footer_menu {
    float: right;
    margin-right: 15px; }
    @media (max-width: 780px) {
      .footer_ending .footer_menu {
        float: left; } }
    .footer_ending .footer_menu :first-child :before {
      content: none; }
    .footer_ending .footer_menu li {
      float: left;
      list-style: none;
      padding: 0 0 0 10px; }
      .footer_ending .footer_menu li :before {
        content: "\b7";
        padding-right: 10px; }

.underlin {
  color: #707e8c; }

.bottom {
  margin-top: 30px; }

.button {
  font-size: 18px;
  padding: 20px 55px 20px 55px;
  width: 295px;
  height: 62px;
  display: block;
  margin: 0 auto; }

.but {
  margin-top: 45px; }

.button_up_down {
  opacity: 0.5;
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer; }
  .button_up_down:hover {
    opacity: 1;
    transition: all 0.3s ease-out; }

#main_modal {
  background-color: rgba(242, 245, 247, 0.8);
  position: fixed;
  z-index: 1000;
  width: 100%;
  margin: 0;
  padding: 0;
  display: none;
  transition: 1s;
  opacity: 0;
  height: 100%; }

.modal {
  margin: 0 auto;
  position: relative;
  background-image: url("../image/modal.png");
  padding: 5px 25px 170px;
  z-index: 999;
  width: 970px;
  height: 424px;
  margin-top: 30px; }

.modal_title {
  float: left;
  font-size: 50px;
  width: 92%;
  margin-left: 30px;
  font-family: "Lato Black", sans-serif;
  font-weight: bold;
  color: #506a85; }

.modal_head {
  margin-top: 35px; }

.modal_close_img {
  margin-top: 13px; }

.enter_name {
  background-image: url("../image/enter.png");
  width: 420px;
  height: 48px;
  float: left;
  margin-left: 40px;
  margin-top: 60px; }
  .enter_name .enter_name_text {
    font-size: 13px;
    border: none;
    background-color: #f8fafd;
    padding-left: 15px;
    padding-top: 15px;
    outline: none; }

.enter_mail {
  background-image: url("../image/enter.png");
  width: 420px;
  height: 48px;
  float: left;
  margin-left: 40px;
  margin-top: 60px; }

.enter_mail_text {
  font-size: 13px;
  border: none;
  background-color: #f8fafd;
  padding-left: 15px;
  padding-top: 15px;
  outline: none; }

.enter_message {
  background-image: url("../image/enter_message.png");
  width: 854px;
  height: 135px;
  margin-top: 80px;
  margin-left: 40px;
  padding-left: 15px;
  padding-top: 15px; }
  .enter_message .enter_message_text {
    font-size: 13px;
    border: none;
    outline: none;
    background-color: #f8fafd; }

#style_button {
  float: left;
  margin-left: 40px;
  margin-top: 30px; }

.modal_button {
  cursor: pointer; }

.menu_name:hover {
  color: #73879c;
  text-decoration: underline; }

#up_down {
  display: none; }

#back {
  display: none; }

#whoWeAre {
  display: none;
  overflow: scroll; }

/*# sourceMappingURL=main.css.map */
