#canvas {
    border: 3px double black;
    display: none;
    margin: 0 auto;
    margin-top: 5px;
    float: left;
}

body {
    margin: 0;
    padding: 0;
    background: url("../image/background.jpg")
}

#blockOfLives {
    background-color: black;
    width: 30px;
    height: 64px;
    position: relative;
    top: 45px;
   /* z-index: 10000; */
    display: none;
    float: left;
}

.life {
    background-image: url("../image/live.png");
    width: 30px;
    height: 32px;
}

#getReadyBlock {
    background-color: black;
    color: white;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 24px;
    width: 94px;
    height: 30px;
    display: none;
    position: absolute;
    bottom: 400px;
    z-index: 10000;
    text-align: center;
    top: 47%;
    left: 45%;
    margin-left: -42px;
}

#nextLevelBlock {
    background-color: rgba(0, 120, 199, 0.7);
    width: 822px;
    height: 579px;
    display: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.next_level_button
{
    width: 164px;
    margin-top: 10px;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 30px;
    border: none;
    border-radius: 6px;
    background-color: rgba(224, 213, 0, 1);
    border-bottom: 2px solid darkred;
    position: relative;
    top: 124px;
    cursor: pointer;
}

#gameOverWon {
    background-color: rgba(0, 120, 199, 0.7);
    width: 822px;
    height: 579px;
    display: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.game_over_element_won {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 90px;
    position: relative;
    top: 100px;

}

#gameOverLoser {
    background-color: rgba(0, 120, 199, 0.7);
    width: 822px;
    height: 579px;
    display: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.game_over_loser {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 90px;
    position: relative;
    top: 112px;
}

.game_over_score {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 60px;
    position: relative;
    top: 97px;
    right: 30px;
}

.font_for_score {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 60px;
    position: relative;
    margin-top: -71px;
    margin-left: 160px;
}

.font_for_score_next_level {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 60px;
    position: relative;
    margin-top: -36px;
    margin-left: 160px;
}

.melon {
    position: relative;
    top: 112px;
    right: -2px;
}

#gameStart {
    background-color: rgba(0, 120, 199, 0.7);
    width: 822px;
    height: 579px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.common_styles {
    border-radius: 25px;
    box-shadow: 0 0 15px;
}

.wrapper {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

#canvasWrapper {
    margin: 0 auto;
    position: absolute;
    right: 32%;
}

#description {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 36px;
    position: relative;
    top: 212px;
    left: -63px;
    color: #25221B;
    text-decoration: none;
}

#description:hover {
    text-decoration: underline;
    color: #39352A;
}

#descriptionWindow {
    font-family: 'Patrick Hand SC', cursive;
    position: absolute;
    z-index: 10000;
    box-shadow: 0 0 15px;
    width: 500px;
    background-color: #78A2B7;
    padding: 10px 10px 10px 10px;
    border-radius: 12px;
    top: 77px;
    display: none;
}

.title {
    text-align: center;
    float: left;
    width: 92%;
    margin-bottom: 7px;
}

#closeButton {
    width: 8%;
    position: relative;
    top: 8px;
    cursor: pointer;
}

.clear {
    clear: both;
}

.description_window_text {
    text-indent: 15px;
    font-size: 14px;
    text-align: center;
}

.name_game {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 60px;
    position: relative;
    top: 140px;
    text-shadow: /*3px -2px 0; */
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
        /*    0 3px 0 #b2a98f,
            0 14px 10px rgba(0,0,0,0.15),
            0 24px 2px rgba(0,0,0,0.1),
            0 34px 30px rgba(0,0,0,0.1); */


}

#startButton:hover {
    opacity: 0.8;
}

.button {
    margin-top: 10px;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 30px;
    border: none;
    border-radius: 6px;
    background-color: rgba(224, 213, 0, 1);
    width: 100px;
    border-bottom: 2px solid darkred;
    position: relative;
    top: 150px;
    cursor: pointer;
}

#startButton {
    right: -94px;
}
