canvas {
    border: 3px double black;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

body {
    margin: 0;
    padding: 0;
    background: url("../image/background.jpg")
}

#game_over_won {
    background-color: rgba(0, 120, 199, 0.7);
    width: 822px;
    height: 579px;
    display: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.game_over_element_won {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 90px;
    position: relative;
    top: 100px;

}

#game_over_loser {
    background-color: rgba(0, 120, 199, 0.7);
    width: 822px;
    height: 579px;
    display: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.game_over_loser {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 90px;
    position: relative;
    top: 112px;
}

.game_over_score {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 60px;
    position: relative;
    top: 86px;
    right: 30px;
}

.font_for_score {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 60px;
    position: relative;
    margin-top: -88px;
    margin-left: 160px;
}

.melon {
    position: relative;
    top: 112px;
    right: 20px;
}

#game_start {
    background-color: rgba(0, 120, 199, 0.7);
    width: 822px;
    height: 579px;
    display: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.name_game {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 60px;
    position: relative;
    top: 140px;
}

.button {
    margin-top: 10px;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 30px;
    border: none;
    border-radius: 6px;
    background-color: rgba(224, 213, 0, 1);
    width: 100px;
    border-bottom: 2px solid darkred;
    position: relative;
    top: 150px;
    cursor: pointer;
}
